@import "libs"
@import "base"


.page
	padding: 70px 0

	a
		position: relative
		z-index: 1
		color: $text
		font-weight: 600
		transition: all .6s

		&:hover,
		&:focus


		&::before
			content: ''
			width: 0
			transform: scale(0)
			transition: all .3s
			position: absolute
			bottom: 0
			width: 100%
			height: 1px
			background-color: $accent

		&:hover,
		&:focus
			color: $accent
			text-decoration: none
			&::before
				transform: scale(1)

.mobile
	display: none !important


.header
	background-color: #F1F1F4
	padding: 40px 0 70px
	transition: all .6s

	&__dasket
		display: none

	&__container
		position: relative

	&__top
		display: flex
		align-items: center

		&_btn,
		&_cart-img
			display: none

	&__logo
		a
			font-weight: 700
			font-size: 36px
			color: $text

		span
			color: #FF4763

	&__phone
		display: flex
		align-items: center
		margin-left: 70px
		margin-right: auto
		position: relative
		z-index: 998

		&:hover,
		&:focus
			z-index: 1001



		img
			position: relative
			vertical-align: inherit
			z-index: 3
			margin-right: 10px

		a
			color: $text
			font-size: 24px
			line-height: 1
			font-weight: 700
			vertical-align: bottom
			position: relative
			z-index: 3

			&:hover ~ .header__phone_info
				visibility: visible
				opacity: 1
				z-index: 2

		&_info
			position: absolute
			top: -48px
			left: -30px
			background: #fff
			padding: 20px 30px
			box-shadow: 0 0 10px #ccc
			visibility: hidden
			opacity: 0
			transition: .3s

			p
				white-space: nowrap
				&:nth-child(1)
					margin-bottom: 40px

				span
					color: $accent

	&__links
		li
			display: inline-block
			margin-left: 40px

			&:first-child
				margin-left: 0

		a 
			color: $text
			position: relative

			@extend .underline


.nav
	position: fixed
	top: 120px
	right: 0
	left: 0
	z-index: 999
	transition: all .6s

	&--active
		top: 0
		z-index: 1002

	&__container
		position: relative
		display: flex
		justify-content: space-between
		align-items: center
		background: #fff
		padding: 17px 30px
		border-radius: 5px
		box-shadow: 0 0 10px #ccc
	
	&__list

		ul
			display: flex
			justify-content: space-between

		li
			margin-right: 40px
			&:last-child
				margin-right: 0

		a
			position: relative
			z-index: 1
			color: $text
			margin-left: 5px
			line-height: 1
			font-weight: 700

			span
				position: relative
				display: inline-block

				&::before
					content: ''
					width: 0
					transform: scale(0)
					transition: all .3s
					position: absolute
					bottom: 0
					width: 100%
					height: 1px
					background-color: $accent
					// z-index: -1

				&:hover,
				&:focus
					color: $accent
					text-decoration: none
					&::before
						transform: scale(1)

.hero
	position: relative

	&__btn
		padding: 0 50px

	&__item
		padding: 135px 0
		background-size: cover
		background-position: center
		background-repeat: no-repeat

	&__slider_arrows
		position: absolute
		right: 0
		left: 0
		height: 1px
		top: 50%
		transform: translate(0, -50%)

	.slick-prev,
	.slick-next
		width: 40px
		height: 40px
		border: none
		border-radius: 50%
		background-color: #fff
		font-size: 0
		position: absolute
		top: 50%
		transform: translate(0, -50%)
		cursor: pointer
		transition: .3s

		&:before
			content: ''
			font-size: 28px
			position: absolute
			top: 50%
			left: 50%
			transform: translate(-50%, -50%)

		&:hover
			background-color: #ddd

	.slick-arrow
		&::before
			content: ''
			position: absolute
			top: 50%
			left: 50%
			transform: translate(-50%, -50%)
			width: 10px
			height: 10px
			border-top: 2px solid #424657
			border-left: 2px solid #424657
		
	.slick-prev
		left: -70px

		&:before
			transform: translate(-30%, -50%) rotate(-45deg)
			

	.slick-next
		right: -70px

		&:before
			transform: translate(-70%, -50%) rotate(135deg)
			

	&__info
		position: relative
		display: flex
		color: #fff
		margin-bottom: 60px

		&_text
			width: auto
			margin-right: 30px

			h1
				line-height: 1
				text-transform: uppercase

			p 
				font-size: 36px

		&_action
			float: left
			font-size: 130px
			font-weight: 700
			line-height: .8


.addition
	padding: 70px 0 0
	background-color: #F1F1F4

	h3
		margin-bottom: 30px

	&__list
		margin-bottom: 70px
		padding-bottom: 10px
		padding-top: 10px

	&__item
		position: relative
		background-color: #fff
		padding: 15px 20px 40px
		border-radius: 5px
		transition: .5s
		line-height: 1.1
		
		&:hover
			box-shadow: 3px 3px 15px #ccc

		a
			h2
				color: $text
		
		img
			display: block
			// max-width: 185px
			width: 100%
			height: auto
			margin: 0 auto 25px

		
		h2
			margin-bottom: 20px
			line-height: 1.1


	.btn
		margin-bottom: 5px

		&:hover
			color: $btn

	span
		font-size: 24px



.gallery
	padding: 70px 0 30px

	&__top
		display: flex
		justify-content: space-between
		align-items: center
		margin-bottom: 30px

		&_pages
			font-size: 18px
			margin-left: auto
			margin-right: 60px
			font-weight: 700
			display: flex
			align-items: center
			justify-content: space-between

		span
			margin: 0 7px

	&__slider
		margin-bottom: 50px

		&_item
			background: #424657
			color: #fff
			border-radius: 5px
			overflow: hidden

			img
				display: block
				margin: 0 auto
				width: 100%
				height: auto

		&_info
			padding: 20px 20px 30px


		h4
			line-height: 1.2
			margin-bottom: 20px

		p 
			margin-bottom: 15px

		// &_order
		// 	display: flex
		// 	justify-content: space-between
		// 	align-items: center

		// 	a:first-child
		// 		display: block


		span
			font-size: 24px



.delivery
	background: #424657

	&__container
		position: relative
		display: flex
		justify-content: flex-end
		padding: 90px 0
		z-index: 1

	&__image
		position: absolute
		top: 0
		bottom: 0
		height: 100%
		left: -80px
		z-index: -1

		img
			height: 100%

	&__info
		width: 40%
		margin-right: 0
		color: #fff

	h3
		margin-bottom: 40px

	p 
		margin-bottom: 20px
		opacity: .8

		&:last-child
			margin-bottom: 0
 

.contacts
	position: relative
	padding: 80px 0 65px
	box-shadow: 0 0 20px 0 rgba(0,0,0, .3)

	&__place,
	&__phone
		position: relative
		padding-left: 40px
		margin-bottom: 20px

		img
			position: absolute
			left: 0

		a 
			color: $text
			font-weight: 700
			position: relative

			@extend .underline
			&::before
				bottom: 2px

	&__phone
		b
			color: $accent

	&__soc
		span
			display: block
			margin-bottom: 10px
		img
			width: 30px
			margin-right: 15px
			position: relative
			top: 0
			transition: .3s

			&:hover
				top: 3px

	h3
		margin-bottom: 40px


.map
	height: 100%
	position: absolute
	left: 50%
	top: 0
	right: 0


.footer
	padding: 40px 0
	background: #424657
	color: #fff

	&__container
		display: flex
		justify-content: space-between

	&__col:nth-child(1)
		a
			font-weight: 700
			font-size: 30px
			color: #fff
			display: inline-block
			margin-bottom: 30px

		span
			color: $btn

		p
			a
				font-size: 14px
				font-weight: 400
				position: relative

				@extend .underline

	&__col:nth-child(2)
		a
			color: #fff
			position: relative

			@extend .underline

		li 
			margin-bottom: 10px

	&__place,
	&__phone
		position: relative
		padding-left: 40px
		margin-bottom: 20px

		img
			position: absolute
			left: 0

		a 
			color: #fff
			font-size: 18px
			font-weight: 700
			position: relative

			@extend .underline
			&::before
				bottom: 2px

	&__phone
		span
			color: $accent

	&__soc
		span
			display: block
			margin-bottom: 10px
		img
			width: 30px
			margin-left: 15px
			position: relative
			top: 0
			transition: .3s

			&:hover
				top: 3px



.underline
	&::before
		content: ''
		width: 0
		transform: scale(0)
		transition: all .3s
		position: absolute
		bottom: 3px
		width: 100%
		height: 1px
		background-color: $accent
		// z-index: -1

	&:hover,
	&:focus
		color: $accent
		text-decoration: none
		&::before
			transform: scale(1)



.goods-block
	position: relative
	background: $text
	display: flex
	color: #fff
	border-radius: 10px
	overflow: hidden

	&__image
		width: 50%
		display: flex
		align-items: center
		justify-content: center
		border-radius: 10px

		img
			width: 100%
			height: 100%
			border-radius: 10px

	&__info
		width: 50%
		padding: 55px 70px

		h1
			font-size: 36px
			line-height: 1
			margin-bottom: 20px

		p:nth-last-of-type(1)
			margin-bottom: 30px

		// span
		// 	color: $accent
		// 	display: block
		// 	margin-bottom: 20px

	&__order
		display: flex
		align-items: center

	.price
		display: flex
		align-items: flex-end
		color: #fff
		margin-bottom: 0
		margin-left: 30px
		font-size: 24px
		line-height: 1
		font-weight: 700

		del
			margin-right: 5px
			font-size: 18px
			color: $btn

		ins
			color: $accent

	&--inverse
		background: #FCFCFD
		color: $text


		.goods-block__image
			background: #fff
			padding: 40px 60px
			border: 1px solid #F1F1F4
			border-radius: 5px
			
		.goods-block__info
			padding: 5px 40px

		.goods-block__order
			span
				color: $text


.swiper-slide
	height: auto !important
	display: flex
	flex-direction: column
	justify-content: space-between


.mussels
	padding: 60px 0
	background: #FCFCFD

.page-mussels
	.addition
		h3
			span
				font-size: inherit
				color: $btn
		
			
.fanta
	padding: 60px 0
	background: #FCFCFD

.page-fanta
	.addition
		h3
			span
				font-size: inherit
				color: $btn

.rolls
	padding: 60px 0

	h3
		margin-bottom: 20px

	&__sort,
	&__buttons
		display: flex
		align-items: center
		flex-wrap: wrap

	&__sort
		margin-bottom: 20px

		button
			margin-right: 10px
			margin-bottom: 10px

	&__selection
		margin-left: auto
		position: relative

		label
			position: absolute
			top: -25px
			
		select
			min-width: 200px
			height: 40px
			border-color: #E2E2E9
			border-radius: 3px
			outline: none

			&:hover
				border-color: $accent

	&__list
		display: flex !important
		justify-content: flex-start !important
		flex-wrap: wrap !important

	&__item
		background: #424657
		width: 23.5%
		color: #fff
		border-radius: 5px
		overflow: hidden
		margin-bottom: 30px
		transition: .3s
		margin-right: 1.5%

		&:hover
			box-shadow: 3px 3px 15px #999

		&_info
			padding: 20px 20px 30px

		img
			display: block
			margin: auto
			width: 100%
			height: auto

		h2
			line-height: 1.2
			margin-bottom: 20px
			color: #fff

		p 
			margin-bottom: 20px

		&_order
			display: flex
			justify-content: space-between
			align-items: center

		span
			font-size: 24px

.page-rolls
	.addition
		h3
			span
				font-size: inherit
				color: $btn



//---------------------------woocommerce-style----------------------------------

.woocommerce-breadcrumb
	margin-bottom: 30px

	li
		display: inline-block
		margin-right: 25px
		position: relative

		&::after
			content: '.'
			font-size: 30px
			line-height: 1
			position: absolute
			top: -10px
			right: -15px

		&:nth-child(even)
			display: none

		&:last-child
			color: $btn
			display: inline-block
			&::after
				display: none

	a
		color: $text

		@extend .underline


.woocommerce-product-gallery__trigger
	display: none

figure
	margin: 0

.woocommerce-product-gallery
	width: 100%
	height: 100%

.woocommerce-message,
.woocommerce-info,
.woocommerce-error,
.woocommerce-noreviews,
p.no-comments
	padding: 10px
	border-radius: 5px
	color: #fff
	margin-bottom: 5px

	a
		color: #fff

		&:hover,
		&:focus
			text-decoration: underline

//----------------------------------распродажа--------------------------
.onsale
	position: absolute
	right: 20px
	top: 10px
	font-size: 20px
	font-weight: 600

.addition__order--hidden
	a
		&:first-child
			display: none

.rolls__item_info
	a
		color: #fff

//--------------------------------mini cart--------------------------
.cart-punkt
	position: relative

.widget_shopping_cart
	display: none
	opacity: 0
	position: absolute
	top: 30px
	right: 0
	padding-top: 15px
	transition: all .6s

	ul
		max-height: 300px
		overflow: auto


.widget_shopping_cart-open
	opacity: 1
	top: 45px
	display: block


.widget_shopping_cart_content
	border-bottom: 1px solid #E2E2E9
	margin-bottom: 15px
	background: #FCFCFD
	right: 0
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25)
	width: 360px
	padding: 25px
	border-radius: 8px

	&::before
		content: ''
		position: absolute
		left: 70%
		top: -15px
		margin-left: -2px
		border-bottom: 15px solid #fff
		border-left: 15px solid transparent
		border-right: 15px solid transparent
		border-top: 15px solid transparent

	a, p, span
		color: $text !important
		line-height: 1.2

	p
		margin-bottom: 5px

	img
		width: 60px
		height: 60px
		float: left
		border-radius: 3px


.woocommerce-mini-cart-item
	position: relative
	min-height: 60px
	margin-bottom: 20px
	padding-right: 15px


.woocommerce-mini-cart__total
	display: flex
	justify-content: space-between
	align-items: center
	margin-bottom: 15px !important

	b
		font-size: 20px

.woocommerce-mini-cart-item__p
	display: flex
	flex-direction: column

.woocommerce-mini-cart__buttons
	display: flex
	justify-content: space-between

	a
		color: #fff !important

	.button
		position: relative
		display: inline-block
		height: 45px
		border: 1px solid transparent
		outline: none
		padding: 0 10px
		border-radius: 50px
		background: $btn
		text-align: center
		font-size: 14px !important
		color: #fff !important
		line-height: 45px !important
		letter-spacing: .2px
		font-weight: 700
		transition: all .6s

		&:hover,
		&:focus
			outline: none
			border: 1px solid $btn
			text-decoration: none
			cursor: pointer
			background: transparent
			box-shadow: 0 5px 10px rgba($text, .4)
			color: $btn !important


.remove_from_cart_button
	position: absolute
	right: 0
	top: 0
	font-size: 26px !important
	line-height: 24px !important
	font-weight: 700
	width: 19px
	height: 20px
	border-radius: 50%
	text-align: center
	transition: all .3s

	&:hover,
	&:focus
		color: #fff !important
		background: $btn

.float--left
	float: left
	margin-right: 30px
	display: block

.screen-reader-text
	display: none


.added_to_cart
	position: absolute !important
	bottom: 5px !important
	left: 50% !important
	transform: translate(-50%, 0) !important
	font-size: 16px !important
	color: $btn !important
	white-space: nowrap !important

	&:hover,
	&:focus
		text-decoration: underline !important

//-----------------------form plus minus--------------------------

input 
	outline: none
 
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button 
	-webkit-appearance: none
	-moz-appearance: none
	appearance: none
	margin: 0

.buttons-add-minus,
.buttons_added
	display: flex
	align-items: center

	.qty
		background-color: transparent
		width: 40px
		border: none
		color: #fff
		text-align: center
		font-size: 20px

	.minus,
	.plus
		border: none
		height: 30px
		width: 30px
		border-radius: 50%
		color: #fff
		padding: 0
		cursor: pointer

	.minus
		background: $btn
		line-height: 30px
		font-size: 36px

	.plus
		background: #42b819
		line-height: 32px
		font-size: 27px

.gallery__slider_order,
.addition__order
	.cart
		display: flex
		justify-content: space-between

	.btn
		padding: 0 20px

	p
		margin-bottom: 5px !important
		text-align: right

.addition__order
	.qty
		color: $text

.gallery__slider_order
	.qty
		color: #fff


//-----------------------------------cart-------------------------------
.page-cart
	padding: 70px 0 40px

	.minus,
	.plus
		display: none


	.qty
		background-color: transparent
		width: 40px
		border: none
		color: $text
		text-align: center
		font-size: 20px

	.wac-quantity
		display: flex
		align-items: center
		justify-content: space-around

	.wac-qty-button
		padding: 0
		border: none
		height: 30px
		width: 30px
		background-color: transparent
		border-radius: 50%

		a
			display: block
			text-align: center
			border: none
			height: 30px
			width: 30px
			border-radius: 50%
			color: #fff
			padding: 0
			cursor: pointer
			

		.wac-btn-inc
			line-height: 34px
			font-size: 26px
			background: #42b819

		.wac-btn-sub
			background: $btn
			line-height: 34px
			font-size: 26px


	.product-thumbnail
		img
			width: 160px
			height: auto

	.shop_table

		td, th
			padding: 10px

	.product-name
		
		a
			font-weight: 700
			color: $text
			font-size: 20px
	
	.product-remove
		
		a
			display: block
			text-align: center !important
			font-size: 32px
			color: $text
			line-height: 35px
			font-weight: 700
			width: 29px
			height: 29px
			border-radius: 50%
			text-align: center
			transition: all .3s

			&:hover,
			&:focus
				color: #fff
				background: $btn

	.coupon
		display: flex
		justify-content: space-between

		label
			font-size: 20px
			font-weight: 700

		input
			margin-right: 20px
			height: 45px
			border-radius: 50px
			padding: 0 15px
			color: $text
			border: 1px solid #42b819

		.btn
			white-space: nowrap
			border: 1px solid #42b819
			background: #42b819

			&:hover,
			&:focus
				color: #fff
				border: 1px solid #42b819

	.wc-proceed-to-checkout
		text-align: center
		padding: 20px

		a
			position: relative
			display: inline-block
			height: 45px
			width: 50%
			border: 1px solid transparent
			outline: none
			padding: 0 30px
			border-radius: 50px
			background: $btn
			text-align: center
			font-size: 16px
			color: #fff
			line-height: 45px
			letter-spacing: .2px
			font-weight: 700
			transition: all .6s

			&:hover,
			&:focus
				outline: none
				border: 1px solid $btn
				text-decoration: none
				cursor: pointer
				background: transparent
				box-shadow: 0 5px 10px rgba($text, .4)
				color: $btn

.woocommerce-pagination
	ul
		display: flex
		justify-content: center

	li
		margin: 0 5px

	span, a
		display: block
		border: none
		height: 26px
		width: 26px
		border-radius: 50%
		color: #fff
		padding: 0
		background: #42b819
		line-height: 28px
		font-size: 18px
		text-align: center
		transition: all .6s

	a
		&:hover,
		&:focus
			background: $btn

	span
		border: 2px solid $btn


//------------------------------filter----------------------------
.yith-woocommerce-ajax-product-filter

	.yith-wcan-list
		display: flex

		li
			margin-right: 10px
			margin-bottom: 10px

		a
			position: relative
			display: inline-block
			height: 45px
			border: 1px solid #E2E2E9
			outline: none
			padding: 0 30px
			border-radius: 50px
			background-color: transparent
			text-align: center
			font-size: 16px
			color: $text
			line-height: 45px
			letter-spacing: .2px
			font-weight: 700
			transition: all .6s

			&:hover,
			&:focus,
			&:active
				outline: none
				border: 1px solid $btn
				text-decoration: none
				cursor: pointer
				background-color: transparent
				box-shadow: 0 3px 5px rgba($text, .4)
				color: $accent
				border-color: $accent

			&:before
				display: none

		.chosen
			background: $accent
			border-radius: 50px
			transition: all .6s
			
			a
				color: #fff

			&:hover,
			&:focus,
			&:active
				background-color: transparent

				a
					color: $accent

					

	.yit-wcan-select-open
		position: relative
		display: inline-block
		height: 45px
		border: 1px solid #E2E2E9
		outline: none
		padding: 0  40px 0 30px
		border-radius: 50px
		background-color: transparent
		text-align: center
		font-size: 16px
		color: $text
		line-height: 45px
		letter-spacing: .2px
		font-weight: 700
		transition: all .6s

		&:hover,
		&:focus,
		&:active
			outline: none
			border: 1px solid $btn
			text-decoration: none
			cursor: pointer
			background-color: transparent
			box-shadow: 0 3px 5px rgba($text, .4)
			color: $accent
			border-color: $accent

		&:before
			display: none

.widget-area
	display: flex
	justify-content: space-between
	flex-wrap: wrap
	z-index: 100
	margin-bottom: 15px

.yit-wcan-select-open
	margin-top: 0
	margin-bottom: 0

.widget
	overflow: visible

.yith-wcan-select-wrapper
	.chosen
		box-shadow: 0px 3px 0px #F2F2F2 inset, 0px -3px 0px #F2F2F2 inset
		border-bottom: 1px solid #cecece
		border-top: 1px solid #cecece


//-------------------------------checkout------------------------------------
.checkout
	input
		height: 45px
		border-radius: 50px
		border: 1px solid $btn
		padding: 0 20px
		color: $text

	p
		margin-bottom: 15px


.woocommerce-checkout-payment
	.place-order
		display: flex
		flex-direction: column
		align-items: center

		.button
			position: relative
			display: inline-block
			height: 50px
			min-width: 50%
			border: 1px solid $accent
			outline: none
			padding: 0 30px
			border-radius: 50px
			background: #fff
			text-align: center
			font-size: 18px
			color: $accent
			line-height: 50px
			letter-spacing: .2px
			font-weight: 700
			transition: all .6s

			&:hover,
			&:focus
				outline: none
				text-decoration: none
				cursor: pointer
				background: $accent
				box-shadow: 0 5px 10px rgba($text, .4)
				border: 1px solid transparent
				color: #fff


.shop_table
	width: 100%
	min-width: 60%
	margin: 0 auto 20px

	tfoot
		tr
			background: #f1f1f4

	td, th
		padding: 5px

	thead
		tr
			background: #f1f1f4

	tr
		&:nth-child(even)
			background: #f1f1f4


.btn--thanks
	min-width: 50%
	background: transparent
	color: $btn !important
	border: 1px solid $btn

	&::before
		display: none

	&:hover,
	&:focus
		color: #fff !important
		background: $btn
		border: 1px solid $btn


.btn__wrap
	display: flex
	justify-content: center

@import "page"
@import "media" // Always at the end